<% if @user.errors.messages.present? %>
    <div class="alert alert-danger">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<div class="container">
  <h2>Edit user</h2>

  <%= form_for(@user) do |f| %>
      <div class="field">
        <%= f.label 'First name' %><br>
        <%= f.text_field :first_name, class: 'form-control' %><br>
        <%= f.label 'Last name' %><br>
        <%= f.text_field :last_name, class: 'form-control' %><br>
        <%= f.label 'E-mail' %><br>
        <%= f.text_field :email, class: 'form-control' %><br>
        <%= f.label 'Phone number' %><br>
        <%= f.text_field :phone_number, class: 'form-control' %><br>
        <%= f.label 'Role' %><br>
        <%= f.select :role, [%w[Admin admin], %w[User user]], {}, class: 'form-control', disabled: @user.is_same_as(current_user) %>
        <br>
      </div>

      <% if @user.organizations.length != 0 %>
          Organizations:<br>
          <ul class="list-group">
            <% @user_organizations.each do |user_organization| %>
                <li class="list-group-item d-flex justify-content-between">
                  <span>
                  <%= user_organization.organization.name %>
                </span>
                  <span>
                  <%= link_to 'Remove user from this organization', { controller: :user_organizations, action: :destroy, user_id: @user.id, id: user_organization.id }, method: :delete, class: 'btn btn-outline-danger' %>
                </span>
                </li>
            <% end %>
          </ul>
      <% end %>
      <br>
      <%= link_to 'Add user to organization', { controller: :user_organizations, action: :new, user_id: @user.id }, class: 'btn btn-outline-primary' %>
      <br>
      <br>
      <br>


      <div class="actions">
        <%= f.submit 'Confirm changes', class: 'btn btn-primary' %>
        <%= link_to 'Cancel', user_path(params[:id]), class: 'btn btn-secondary' %>
      </div>
  <% end %>
</div>