<div class="container">
  <h2>Interests</h2>
  <ul class="list-group">

    <% if @interests.empty? %>
        This organization has no interests.<br>
    <% else %>
        <% @interests.each_with_index do |interest, interest_type_index| %>
            <li class="list-group-item row">

              <div class="row">
                <div class="col-4">
                  <%= interest_type_index + 1 %>.  <%= interest.name %>
                </div>

                <div class="col-5">
                  <strong>Type: <%= interest.interest_type.name %></strong>
                </div>

                <div class="col-3 d-flex justify-content-end">
                  <%= link_to 'Remove', organization_user_interests_path(interest.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger ml-3' %>
                </div>

              </div>
            </li>
        <% end %>
    <% end %>

    <br/>
    <%= link_to 'Add new interest', new_organization_user_interest_path, class: 'btn btn-outline-success' %>
  </ul>
  <br>

  <%= link_to 'Go back to all your organizations', organizations_path, class: 'btn btn-secondary' %>

</div>
