<div class="container">
  <h2>Organizations</h2>
  <ul class="list-group">
    <% @organizations.each do |organization| %>

            <li class="list-group-item">
              <strong>
                <%= organization.name %>
              </strong>
              <ul class="list-group">
                <br />
                Members:
                <br />
                <% organization.users.each.with_index do |user, index| %>
                    <%= link_to user_path(user) do %>
                      <li class="list-group-item">
                        <%= index + 1 %>. <%= user.first_name %> <%= user.last_name %>
                      </li>
                  <% end %>
                <% end %>
              </ul>
            </li>

    <% end %>
  </ul>
</div>