<div class="container">
  <h2>Your organizations</h2>

  <br />

  <ul class="list-group">
    <% @organizations.zip(@user_organizations).each do |organization, user_organization| %>
        <li class="list-group-item">
          <h3>
            <%= organization.name %>
          </h3>

          <% if user_organization.organization_admin? %>
              <% if organization.users.empty?%>
                  This organization has no members.<br>
              <% else %>
                  <br>
                  <h5>Members:</h5>
                  <ul class="list-group">
                    <% organization.users.each.with_index do |user, index| %>

                        <li class="list-group-item">

                          <div class="row">
                            <div class="col-4 d-flex align-items-center">
                              <strong><%= index + 1 %>. </strong> &nbsp;<%= user.first_name %> <%= user.last_name %>
                            </div>
                          </div>

                          <br>

                          <div class="row">
                            <div class="col-12">

                              Interests:
                              <% UserOrganization.find_by(organization_id: organization.id, user_id: user.id).interests.each do |interest| %>
                                  <%= interest.name %> (<%=interest.interest_type.name %>),
                              <% end %>
                              <br>
                              <br>

                            </div>
                          </div>

                            <div class="row">
                              <div class="col-12 d-flex justify-content-end">
                                <%= link_to 'Show user', user_path(user.id), class: 'btn btn-outline-primary' %>
                                <%= link_to 'Edit member interests', organization_user_interests_path(organization.id, user.id), class: 'btn btn-outline-info ml-3' %>
                                <%= link_to 'Edit organization status', edit_organization_user_organization_path(organization.id, user.id), class: 'btn btn-outline-warning ml-3' %>
                                <%= link_to 'Remove from organization', organization_user_organization_path(organization.id, user.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger ml-3' %>
                              </div>
                            </div>
                        </li>

                    <% end %>

                    <br>

                    Organization interest types:
                    <% organization.interest_types.each do |interest_type| %>
                      <%= interest_type.name %>,
                    <% end %>

                  </ul>
              <% end %>
          <% end %>

          <br>

          <%= link_to 'Show organization site', organization_path(organization), class: 'btn btn-outline-success' %>
          <%= link_to 'Edit my interests', organization_user_interests_path(organization.id, current_user.id), class: 'btn btn-outline-info' %>
          <% if user_organization.organization_admin? %>
              <%= link_to 'Edit organization interest types', organization_interest_types_path(organization), class: 'btn btn-outline-info' %>
          <% end %>
        </li>
    <% end %>
  </ul>
  <br>

</div>
