<% if @organization.errors.messages.present? %>
    <div class="alert alert-danger">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<div class="container">
  <h2>New organization</h2>

  <%= form_for(@organization) do |f| %>
      <div class="field">
        <%= f.label 'Name' %><br>
        <%= f.text_field :name, class: 'form-control' %><br>
        <%= f.label 'Subdomain' %><br>
        <%= f.text_field :subdomain, class: 'form-control' %><br>
        <br>
      </div>

      <div class="actions">
        <%= f.submit 'Create', class: 'btn btn-primary' %>
        <%= link_to 'Cancel', organizations_path, class: 'btn btn-secondary' %>
      </div>
  <% end %>
</div>