<!DOCTYPE html>
<html>
  <head>
    <title>SelleoApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
    <% if notice %>
      <div class="alert alert-warning m-0"><%= notice %></div>
    <% end %>

    <% if alert %>
      <div class="alert alert-danger m-0"><%= alert %></div>
    <% end %>

    <% unless current_page?(sign_in_path) or current_page?(sign_up_path) %>
      <% if user_signed_in? %>
          <div class="nav navbar justify-content-end bg-dark">
       <span class="p-1">
          <%= link_to 'Log out', sign_out_path, class: 'btn btn-secondary' %>
        </span>
          </div>
      <% else %>
          <div class="nav navbar justify-content-end">
        <span class="p-1">
          <%= link_to 'Sign up', sign_up_path, class: 'btn btn-primary' %>
        </span>
            <span class="p-1">
          <%= link_to 'Log in', sign_in_path, class: 'btn btn-secondary' %>
        </span>
          </div>
      <%end%>
    <% end %>

    <%= yield %>

  </body>
</html>
