<!DOCTYPE html>
<html>
  <head>
    <title>SelleoApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>

    <% unless current_page?(sign_in_path) || current_page?(sign_up_path) || request.fullpath == new_user_session_path %>
      <% if user_signed_in? %>
          <div class="nav navbar justify-content-end bg-dark">
            <span class="p-1 text-white">
              Hello, <%= current_user.first_name %>
            </span>
            <% if current_user.admin? %>
                <span class="p-1 text-white">
                   <%= link_to 'Admin section', admin_path, class: 'btn btn-info' %>
                </span>
            <% end %>
           <span class="p-1">
              <%= link_to 'Log out', sign_out_path, class: 'btn btn-secondary' %>
            </span>
          </div>
      <% else %>
          <div class="nav navbar justify-content-end">
            <span class="p-1">
              <%= link_to 'Sign up', sign_up_path, class: 'btn btn-primary' %>
            </span>
            <span class="p-1">
              <%= link_to 'Log in', sign_in_path, class: 'btn btn-secondary' %>
            </span>
          </div>
      <%end%>
    <% end %>

    <% if notice %>
        <div class="alert alert-warning m-0"><%= notice %></div>
    <% end %>

    <% if alert %>
        <div class="alert alert-danger m-0"><%= alert %></div>
    <% end %>

    <% if flash %>
        <% flash.each do |msg_type, msg| %>
            <% if msg != notice && msg != alert %>
              <div class="alert alert-<%= msg_type %> m-0">
                <%= msg %>
              </div>
            <% end %>
        <% end %>
    <% end %>

    <%= yield %>

  </body>
</html>
